/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/*@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";*/

app-root {
    background-color: rgb(189, 192, 186);
}

mat-sidenav-content {
    background-color: rgb(189, 192, 186);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

app-root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

app-home {
    height: 100vh;
    width: 100%;
}

mat-sidenav-container {
    height: 100vh;
}
