/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/*@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}