mat-sidenav {
    background-color: rgb(181, 202, 160);
}

.function_bar {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.function_bar_box {
    margin: 30% 0;
}

.function_bar_box>a {
    text-decoration: none;
    color: black;
}

.PAGE404 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2em;
}

.PAGE404>.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    margin: 20%;
    padding: 2%;
    border-radius: 5%;
    box-shadow: 5px 5px #aaaaaa;
}