mat-sidenav {
    background-color: rgb(181, 202, 160);
}

mat-sidenav-content {
    position: relative;
}

.function_bar {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.function_bar_box {
    margin: 30% 0;
}

.function_bar_box>a {
    text-decoration: none;
    color: black;
}

.PAGE404 {
    position: absolute;
    top: 0px;
    right: 25%;
    height: 100vh;
    font-size: 2em;
    z-index: -1000000000;
}

.PAGE404>.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    margin: 20%;
    padding: 2%;
    border-radius: 5%;
    box-shadow: 0px 0px 30px 5px #aaaaaa;
}