.management_box {
    margin: 2%;
    border-radius: 1%;
    box-shadow: 0px 0px 30px 5px #aaaaaa;
    height: 93vh;
    background-color: white;
}

.mat-paginator {
    border-radius: 100%;
}

.mat-paginator-outer-container {
    border-radius: 3%;
}

.mat-header-cell {
    justify-content: center;
}

.mat-cell {
    justify-content: center;
}

.mat-column-id {
    max-width: 100px;
}

.mat-column-sort {
    max-width: 100px;
}

mat-form-field {
    padding-left: 50px;
}