.posts {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(252, 250, 242);
}

.posts_title{
    display:flex;
    align-items:center;
}
.posts_title>a{
    color:black;
}
.posts_title > button {
  position: absolute;
  right: 20px;
}

.mat-card {
    border-radius: 1%;
    box-shadow: 0px 0px 30px 5px #aaaaaa;
    height: 80vh;
    padding: 30px 20px;
}

.mat-card-title {
    display: inline-block;
    margin-bottom:0;
}

mat-form-field {
    width: 50%;
}

.editor {
    width: 875px;
}

.displaynone{
    display:none;
}
