<div class="posts">
    <mat-card>
        <div class="posts_title">
            <mat-card-title>Edit</mat-card-title>
            <button type="text" mat-button form="posts">Submit</button>
        </div>
        <mat-card-content>
            <form id="posts">
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="sort" formControlName="sort">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" matInput placeholder="img_url" formControlName="img_url">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="title" formControlName="title">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" matInput placeholder="subtitle" formControlName="subtitle">
                    </mat-form-field>
                </p>

                <div class="editor" id="editor"></div>
            </form>
        </mat-card-content>
    </mat-card>
</div>